@* Views/Shared/Components/DanhMuc/_danhMuc.cshtml *@
@model IEnumerable<Category>

<ul class="header__menu__dropdown">
    @foreach (var category in Model)
    {
        <li>
            <a href="#">@category.Name</a>
        </li>
    }
</ul>
