@* Views/Shared/Components/DanhMuc/_danhMuc.cshtml *@
@model IEnumerable<Category>

<ul class="header__menu__dropdown">
    @foreach (var cat in Model)
    {
        <li>
        <li><a href="/product?catelog=@cat.Slug">@cat.Name</a></li>
        </li>
    }
</ul>
